h1{
    text-align: center;
    color: #19A7CE;
}

h4, li{
    background-color: aliceblue;
}

.primaryListMaker{
    text-align: center;
}

#lists{
    display: flex;
    align-items: flex-start;
}

.individualList{
    margin: 20px;
    background-color: aliceblue;
    color: #19A7CE;
    text-align: center;
    /*! margin-top: 0; */
    padding: 5px;
    width: 15%;
}

.listUL {
    padding-left: 20px;

  }